---
layout: default.njk
title: Antinichtfungibletoken Aktion
summary: Break the Chain 🟥⬛ Build the Web.
leadimage: /img/antinfta-anti-nichtfungibletoken-aktion-sticker-pole-1375x720.jpg
---
{% block content %}

<div class="flex bg-white p-5">
    <img src="/img/antinfta-anti-nichtfungibletoken-aktion-sticker-pole-1375x720.jpg" class="mx-auto md:h-[60vh]" alt="Anti-NFT (nichtfungibletoken) Aktion sticker on a street pole with bold text in black outline circle with red and black file copy icons in center in style of classic antifaschistische (anti-fascism / antifa) aktion logo.">
  </div>

  <div class="md:flex justify-center items-center text-center py-5">
    <h1 class="font-chaumont text-neutral-700 m-2 text-3xl md:text-2xl">&lt;Break the Chain&gt;</h1>
    <h1 class="font-chaumont text-neutral-700 m-2 text-3xl md:text-2xl">&lt;Build the Web&gt;</h1>
  </div>
  {% endblock %}