  {% extends "_includes/default.njk" %}

  {% block content %}
  
  <div class="flex bg-white p-5">
    <img src="/img/antinfta-antinichtfungibletoken-aktion-sticker-500x500.png" class="mx-auto md:h-[40vh]" alt="Logo sticker: Antinichtfungibletoken Aktion - Anti NFT Aktion">
  </div>

  <div class="md:flex justify-center items-center text-center py-5">
    <h1 class="font-chaumont text-gray-300 m-2 text-3xl md:text-2xl">&lt;Break the Chain&gt;</h1>
    <h1 class="font-chaumont text-gray-300 m-2 text-3xl md:text-2xl">&lt;Build the Web&gt;</h1>
  </div>

  <div class="flex bg-white">
    <img src="/img/antinfta-anti-nft-no-thanks-sticker-sheet-collection-promo-web-500x.png" class="mx-auto md:h-[40vh]" alt="Sticker collection: Anti-NFT 'smiling sun'-inspired stickers boldy stating Non-fungible Token? No Fucking Thanks. Nichtfungibletoken? Nein Danke. Red file copy icons with smiley faces on yellow circle. Designs by Antinichtfungibletoken Aktion.">
  </div>

  <div class="flex bg-white">
    <img src="/img/antinfta-gegen-nfts-collage-1280x720-trio-stickers-anti-nft-area.jpg" class="mx-auto md:h-[40vh]" alt="Sticker: Three Anti-NFT stickers boldly stating GEGEN NFTs. Illustration of two 3d file copy icons overlap slightly with one bent open in a triangle shape in the middle as a mouse pointer crashes into one side. Below a second section of text says ANTINFT★AREA. Both sections surrounded by thick bordered boxes. In the style of Anti-Fascism/Anti-Nazi activist/punk logos. Design by Antinichtfungibletoken Aktion.">
  </div>


  {% endblock %}

  {% block footer %}
        <small class="font-chaumont"><span class="uppercase text-red-600">Thanks:</span> logo design based on an idea by sigwinch28, icon work by Markus</small>
  {% endblock %}