---
layout: default.njk
title: Gegen NFTs - AntiNFT ★ Area
summary: Declare the area Against NFTs.
leadimage: /img/antinfta-gegen-nfts-twitter-share-transparent-896x504.png
---
{% block content %}
<div class="flex bg-white p-5">
    <img src="/img/antinfta-gegen-nfts-collage-1280x720-trio-stickers-anti-nft-area.jpg" class="mx-auto md:h-[52vh]" alt="Three Anti-NFT stickers boldly stating GEGEN NFTs. Illustration of two 3d file copy icons overlap slightly with one bent open in a triangle shape in the middle as a mouse pointer crashes into one side. Below a second section of text says ANTINFT★AREA. Both sections surrounded by thick bordered boxes. In the style of Anti-Fascism/Anti-Nazi activist/punk logos. Design by Antinichtfungibletoken Aktion.">
  </div>

  <div class="md:flex justify-center items-center text-center py-5">
    <h1 class="font-chaumont text-neutral-700 m-2 text-2xl md:text-2xl">&lt;Smash / Fight / Right-Click / Resist&gt;</h1>
    <h1 class="font-chaumont text-neutral-700 m-2 text-2xl md:text-2xl">&lt;Declare the Area&gt;</h1>
  </div>
{% endblock %}