  @tailwind base;
  @tailwind components;
  @tailwind utilities;


  @layer base {
    @font-face {
      font-family: 'ChaumontScript';
      src:  url('/fonts/ChaumontScript-Regular.woff2') format('woff2'),
            url('/fonts/ChaumontScript-Regular.woff') format('woff');
    }
    a {
      color: #1e40af;
      text-decoration:none;
    }
  }
  
  @layer utilities {
    .change {
      color: black;
    }
  }

