---
layout: default.njk
title: No Thanks NFTs
summary: Politely define & dissent with a smile.
leadimage: /img/antinfta-smiling-sun-twitter-shares-transparent-896x504-nft-no-fucking-thanks.png
---
{% block content %}
<div class="flex bg-white p-5">
    <img src="/img/antinfta-smiling-sun-versions-collage-1080x-NFT-no-fucking-thanks.jpg" class="mx-auto md:h-[50vh]" alt="Anti-NFT sticker boldly stating NFT? No Fucking Thanks. Two red file copy icons with smiley faces on yellow circle. Design by Antinichtfungibletoken Aktion.">
  </div>

  <div class="md:flex justify-center items-center text-center py-5">
    <h1 class="font-chaumont text-neutral-700 m-2 text-3xl md:text-2xl">&lt;Politely define & dissent with a smile&gt;</h1>
    <h1 class="font-chaumont text-neutral-700 m-2 text-3xl md:text-2xl">&lt;No Thanks NFT&gt;</h1>
  </div>
  {% endblock %}